:root {
    --bluish: #59bfff;

    
}


  .card {
      display: flex;
      
      margin-top: 250px;
     align-content: center;
  }

  body {
      background-image: url("../img/tom_hanks.jpeg");
  }